@import "tailwindcss";
:root {
  font-family: "Poppins", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}

.limit-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limite à 3 lignes */
  overflow: hidden;
  text-overflow: ellipsis;
}

.limit-lines2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Limite à 6 lignes */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  display: none;
  position: absolute;
  top: 80%; /* Centrer verticalement par rapport au texte */
  left: 100%; /* Positionner à droite de l'élément */
  transform: translateY(-50%); /* Centrer le tooltip verticalement */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: normal; /* Permet au texte de se casser en plusieurs lignes */
  width: max-content; /* S'ajuste à la largeur du texte */
  max-width: 200px; /* Optionnel : limite la largeur du tooltip si le texte est trop long */
}

.relative:hover .tooltip {
  display: block;
}

/* scrollbar-custom */
.scrollbar-custom::-webkit-scrollbar {
  height: 11px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e0e7ff; /* couleur de fond */
  border-radius: 100px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* couleur du curseur */
  border-radius: 100px;
  border: 2px solid #e0e7ff;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* couleur au hover */
  cursor: pointer;
}
